@model Product

<!DOCTYPE html>
<html>
<head>
    <title>Delete Confirmation</title>
</head>
<body>
<h2>Delete Confirmation</h2>

<p>Are you sure you want to delete the following product?</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">Product ID:</dt>
        <dd class="col-sm-10">@Model.ProductId</dd>
        <!-- Include other product details here -->
    </dl>
</div>

<form asp-action="DeleteConfirmationConfirmed" method="post">
    <input type="hidden" name="productId" value="@Model.ProductId" />
    <button type="submit">Confirm Delete</button>
</form>
</body>
</html>