@{
    ViewData["Title"] = "About";
}


<style>
    body {
        /* Set background color with 25% opacity using RGBA */
        background-color: rgba(255, 215, 0, 0.25);
        padding-bottom: 100px; /* Add some bottom padding to prevent content from extending below the footer */
    }
</style>


<!--This is the content of the About page.-->
<div style="display: flex; justify-content: space-between;">
    <div style="flex: 1;">
        <h1 style="font-weight: bold;">@ViewData["Title"]</h1>
        <br>
        <p>Introducing Aurora, the master builder behind the captivating TikTok sets that inspire creativity and imagination. With a passion for crafting intricate designs, Aurora embarked on a journey to share her creations beyond the digital realm. Recognizing the limitations of spreadsheets, she envisioned a platform where enthusiasts could explore and acquire her meticulously crafted sets effortlessly.
        Thus, Aurora's Brick Well was born—a haven for builders seeking quality materials and innovative designs. Nestled at the intersection of craftsmanship and community, Aurora's website offers a curated selection of sets, each bearing her signature touch of creativity and precision.
        Beyond merely selling sets, Aurora's Brick Well fosters a vibrant community of builders, where ideas are exchanged, and inspiration flourishes. With a commitment to excellence and a dedication to customer satisfaction, Aurora invites you to explore her world of endless possibilities and embark on your own creative journey. Welcome to Aurora's Brick Well, where every brick is a stepping stone to boundless imagination.
        </p>
    </div>
    <div style="flex: 1; text-align: right;">
        <img src="~/img/Screenshot 2024-04-10 113029.png" alt="Picture of Aurora" style="max-height: 500px;">
    </div>
</div>
