<style>
    body {
        /* Set background color with 25% opacity using RGBA */
        background-color: rgba(0, 111, 227, .25);
        padding-bottom: 100px; /* Add some bottom padding to prevent content from extending below the footer */
    }
</style>


<!--This is the content of the About page.-->
<div style="display: flex; justify-content: space-between;">
    <div style="flex: 4;">
        <br>
        <p style="font-size: 50px;">
            <em>
                Thank you for your order! Check your email for a confirmation message and order details.
            </em>
        </p>
    </div>
    <div style="flex: 1; text-align: right;">
        <img src="~/img/LegoBricks.png" alt="Picture of LegoBricks" style="max-height: 200px;">
    </div>
</div>