@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero 1 - Bootstrap Brain Component -->
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull" style="background-image: url('././wwwroot/img/heroImg.png');">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
        <h1 class="display-3 fw-bold mb-3">Explore A Whole New World</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
          <button type="button" class="btn bsb-btn-3xl btn-light gap-3">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
