<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Aurora's Brick Well</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="">
            Replace all of this code with the navbar layout in the _Layout
        </div>

        <div class="">
            @RenderBody()
        </div>
    </body>
</html>